.image-container {
  height: 37.5rem;
  flex-basis: 37.5rem;
  background-image: url("/assets/images/drawers.jpg");
  background-size: cover;
  background-position: 6%;
  border-radius: 1.2rem 0 0 1.2rem;
  box-shadow: -0.2rem -0.2rem 3rem color(lightBlue),
    0 0.2rem 3rem color(lightBlue);
}
