$font-family: "Manrope", sans-serif;

$colors: (
  veryDarkGrayishBlue: hsl(217, 19%, 35%),
  desaturatedDarkBlue: hsl(214, 17%, 51%),
  grayishBlue: hsl(212, 23%, 69%),
  lightGrayishBlue: hsl(210, 46%, 95%),
  lightBlue: hsla(187, 52%, 80%, 0.5),
  link: #007bff,
);

//function to get color

@function color($color) {
  @return map-get($colors, $color);
}
